.wide_container{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

hr{
   margin: auto;
    width: 100%;
}

.login{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.login:hover{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);}
.login{
    padding:7px 20px;
}

.container2{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
  
  
}

body{
    background:url(../images/admin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
legend{
    text-align: center;
    color: white;
    font-size:50px;
}
input{
    margin-top: 15px;
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.45);
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.55);
}