input{
	border-radius: 6px;
	padding: 0.75%;
}

.sec1,.sec2,.sec3,.sec4,.sec5{
    text-align: left;
	margin: 1% 0;
}
.one,.two,.three,.four,.five{
    font-family:sans-serif;
	font-weight: 350px;
	display: inline;
	margin-left: 15%;
}

.change,.update{
    color: aliceblue;
	font: weight 1200px;
	background-color:#333;
	padding: 5px 12px;
	margin:3% 13%;
    
    float: right;
}
hr{
	margin: auto;
	width: 90%;
}
.blue,.head{
	margin-left: 2%;
}
.del{
	float:right;
    margin: 0 8px;
    width: 120px;
    height: 35px;
    border: 2px solid #000000;
    outline:none;
    border-radius: 6px;
    font-size: 1em;
    color: white;
	background-color: #333;
    font-weight: 500;
}
.del{
display: inline;
}

.del:hover{
	background-color: rgb(51, 17, 17);
	color:white;
}
