.frame{
    background-color:  rgb(235, 223, 214);
    border-color: rgb(129, 53, 53);
    border:2%;
    border-radius: 10px;
    width:60%;
    height: 120%;
    margin: 3% auto;
}


.name-line{
   text-align: left;
}
.firstname,.lastname{
    display: inline;
}

body {
    background-color:rgb(250, 250, 244);
}

legend{
    text-align: center;
    font-size: x-large;
}

input{
    border-radius: 6px;
    padding:1%;
}

#people,.bg,.place,#meridiem{
    border-radius: 6px;
    padding:1%;
}
#first_line{
    padding-left: 30px;
}

.sal,.firstname,.lastname,.two,.three,.blood,.four,.five,.hos,.six,.seven,.eight,.nine,.select{
font-family:sans-serif;
font-weight: 350px;
display: inline;
margin: 0 4%;
}
.nine input{
    color:aliceblue;
    font:weight 1200px;
    background-color: #333;
    padding:5px 12px;
    margin:3% 3%;
}
#meridiem{
    margin: -60;
}



