body {
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
}
.signup{
	background-color:transparent;
	width: 60%;
	height: auto;
	margin: auto;
}
.legend{
	text-align: center;
	font-size:x-large;
}

.first_line,.second_line,.third_line,.fourth_line,.fifth_line,.sixth_line,.random,.seventh_line{
	margin: 15px 0;
}
.first,.second,.third,.fourth,.fifth,.sixth,.seventh{
	font-weight: 350px;
	display: inline;
	margin:0 0 0 6%;
}

.sixth input{
	margin:3% 3%;
	cursor: pointer;
	font-size: 15px;
    font-weight: 500;
    color: #fff;
    height: 45px;
    width: 25%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(30, 30, 30, 0.5);
    transition: .3s ease-in-out;
}
.sixth input:hover{
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}
hr{
	margin: auto;
	width: 90%;
}

.input-field{

    font-size: 15px;
    background: rgba(255, 255, 255, 0.85);
    color: black;
    height: 50px;
    width: 40%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 15px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.75);
}

#name{
	width: 86.5%;
}

#reset{
	margin-left: 13%;
}
.seventh{
margin-left: 30%;
}