body {
    background: url(../images/locations1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    padding-left: 40%;
}

.info {
    width: calc(50% - 20px); 
    margin: 10px; 
    padding: 20px; 
    border-radius: 8px; 
    background-color:   #E6E6FA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    float: right;
    box-sizing: border-box; 
}
